.admin-panel {
  display: flex;
  min-height: 100vh;
}

.admin-nav {
  width: 200px;
  background-color: #f8f9fa;
  padding: 20px;
  border-right: 1px solid #dee2e6;
  display: flex;
  flex-direction: column;
}

.admin-nav a {
  display: block;
  padding: 10px 15px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
}

.admin-nav a:hover {
  background-color: #e9ecef;
}

.admin-nav a.active {
  background-color: #007bff; /* Cor azul de ativo */
  color: white;
}

.admin-content {
  flex-grow: 1;
  padding: 20px;
}