<div *ngIf="isLoadingLocal" class="loading-overlay">
  <div class="spinner"></div>
  <p>Carregando...</p>
</div>

<div *ngIf="!isLoadingLocal">

  <a routerLink="/login" class="back-arrow-link">
    <i class="fas fa-arrow-left"></i> Voltar ao Login
  </a>

  <div class="container">
    <h2>Registrar Novo Usuário</h2>

    <form (ngSubmit)="register()">
      
      <div class="form-group">
        <label for="name">Nome Completo:</label>
        <input type="text" id="name" [(ngModel)]="registerData.name" name="name" required>
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input 
          type="email" 
          id="email" 
          [(ngModel)]="registerData.email" 
          name="email" 
          required>
      </div>

      <div class="form-group">
        <label for="documento">Documento (CPF):</label>
        <input type="text" id="documento" [(ngModel)]="registerData.documento" name="documento" required>
      </div>
      
      <div class="form-group">
        <label for="phoneNumber">Telefone:</label>
        <input type="text" id="phoneNumber" [(ngModel)]="registerData.phoneNumber" name="phoneNumber">
      </div>

      <div class="form-group form-group-password">
        <label for="password">Senha:</label>
        <div class="input-wrapper">
          <input [type]="passwordFieldType" id="password" [(ngModel)]="registerData.password" name="password" required>
          <button type="button" class="password-toggle" (click)="togglePasswordVisibility()">
            <i class="fas" [ngClass]="{'fa-eye-slash': passwordFieldType === 'password', 'fa-eye': passwordFieldType === 'text'}"></i>
          </button>
        </div>
      </div>
      
      <div class="form-group form-group-password">
        <label for="confirmPassword">Confirmar Senha:</label>
        <div class="input-wrapper">
          <input [type]="confirmPasswordFieldType" id="confirmPassword" [(ngModel)]="registerData.confirmPassword" name="confirmPassword" required>
          <button type="button" class="password-toggle" (click)="toggleConfirmPasswordVisibility()">
            <i class="fas" [ngClass]="{'fa-eye-slash': confirmPasswordFieldType === 'password', 'fa-eye': confirmPasswordFieldType === 'text'}"></i>
          </button>
        </div>
      </div>

      <button class="adicionar" type="submit">Registrar</button>

      <div *ngIf="message.text" class="alert" style="margin-top: 15px;" [ngClass]="{'alert-success': message.type === 'success', 'alert-error': message.type === 'error'}">
        {{ message.text }}
      </div>
      <div class="login-link">
        Já tem uma conta? <a routerLink="/login">Faça o login</a>
      </div>
    </form>
  </div>
</div>