<div *ngIf="successMessage" class="toast-message success">
  {{ successMessage }}
</div>

<div *ngIf="errorMessage" class="toast-message error">
  {{ errorMessage }}
</div>

<div *ngIf="isLoadingLocal" class="container-loading">
  <p>Carregando itens... Por favor, aguarde.</p>
</div>

<div class="container" *ngIf="!isLoadingLocal">
  
  <div class="dishes-container">
    <h2>Itens Disponíveis</h2>

    <div *ngIf="dishes.length === 0" class="empty-message">
      Nenhum item disponível no momento. Tente novamente mais tarde.
    </div>

    <div *ngIf="dishes.length > 0" class="dishes-grid">
      <div *ngFor="let dish of dishes" class="dish-card">
        
        <div class="dish-image-container">
            <img [src]="dish.imageUrl || 'assets/logo.png'" 
                 [alt]="dish.name">
        </div>

        <h3>{{dish.name}}</h3>
        <p>{{dish.description}}</p>
        
        <div class="price-container">
          <p class="real-cost">Custo real: R$ {{dish.custo.toFixed(2)}}</p>
          <p class="payable-cost">Valor a pagar: R$ 0,00</p>
        </div>
        
        <button (click)="addToCart(dish)" class="add-button">
          Adicionar à cesta
        </button>
      </div>
    </div>
  </div>

  <div class="cart-container">
    <h2>Minha Cesta</h2>
    <div *ngIf="cart.length === 0" class="empty-cart">
      Sua cesta está vazia
    </div>
    
    <div *ngIf="cart.length > 0">
      <div *ngFor="let item of cart" class="cart-item">
        
        <img [src]="item.imageUrl || 'assets/logo.png'" 
             [alt]="item.name" 
             class="cart-item-image">

        <div class="item-info">
          <span>{{item.name}}</span>
          
          <div class="cart-item-price-details">
            <span class="real-cost-cart">Custo real: R$ {{item.custo.toFixed(2)}}</span>
            <span class="payable-cost-cart">Valor a pagar: R$ 0,00</span>
          </div>
        </div>
        
        <div class="quantity-controls">
          <button (click)="removeFromCart(item)">-</button>
          <span>{{item.quantity}}</span>
          <button (click)="addToCart(item)">+</button>
        </div>
      </div>

      <div class="cart-total">
        <strong class="real-cost-total">Custo total (ONG): R$ {{totalAmount.toFixed(2)}}</strong>
        <strong class="payable-cost-total">Total a pagar: R$ 0,00</strong>
      </div>
      
      <div class="cart-lead-time" style="margin-top: 10px; text-align: right;">
        <strong>Tempo de Retirada: {{ totalLeadTime }} min</strong>
      </div>

      <button (click)="checkout()" class="checkout-button">
        Confirmar Retirada
      </button>
    </div>
  </div>
</div>