<a (click)="goBack()" class="back-arrow-link">
  <i class="fas fa-arrow-left"></i> Voltar
</a>

<div class="change-password-container">
  <h2>Alterar Senha</h2>

  <!-- Sistema de Mensagem -->
  <div *ngIf="message.text" class="alert" [ngClass]="{'alert-success': message.type === 'success', 'alert-error': message.type === 'error'}">
    {{ message.text }}
  </div>

  <div>
    <form (ngSubmit)="changePassword()">
      
      <!-- CAMPO SENHA ANTIGA - CORREÇÃO DA LÓGICA DO OLHINHO -->
      <div class="form-group form-group-password">
        <label for="oldPassword">Senha Antiga:</label>
        <input [type]="showOldPasswordType" id="oldPassword" [(ngModel)]="passwords.oldPassword" name="oldPassword" required>
        <button type="button" class="password-toggle" (click)="toggleOldPasswordVisibility()">
          <!-- Corrigido: Se type='password' (escondida), mostra 'fa-eye-slash' (olho fechado) -->
          <i class="fas" [ngClass]="{'fa-eye-slash': showOldPasswordType === 'password', 'fa-eye': showOldPasswordType === 'text'}"></i>
        </button>
      </div>
      
      <!-- CAMPO NOVA SENHA - CORREÇÃO DA LÓGICA DO OLHINHO -->
      <div class="form-group form-group-password">
        <label for="newPassword">Nova Senha:</label>
        <input [type]="showNewPasswordType" id="newPassword" [(ngModel)]="passwords.newPassword" name="newPassword" required>
        <button type="button" class="password-toggle" (click)="toggleNewPasswordVisibility()">
          <!-- Corrigido: Se type='password' (escondida), mostra 'fa-eye-slash' (olho fechado) -->
          <i class="fas" [ngClass]="{'fa-eye-slash': showNewPasswordType === 'password', 'fa-eye': showNewPasswordType === 'text'}"></i>
        </button>
      </div>

      <!-- CAMPO CONFIRMAR NOVA SENHA - CORREÇÃO DA LÓGICA DO OLHINHO -->
      <div class="form-group form-group-password">
        <label for="confirmNewPassword">Confirmar Nova Senha:</label>
        <input [type]="showConfirmNewPasswordType" id="confirmNewPassword" [(ngModel)]="passwords.confirmNewPassword" name="confirmNewPassword" required>
        <button type="button" class="password-toggle" (click)="toggleConfirmNewPasswordVisibility()">
          <!-- Corrigido: Se type='password' (escondida), mostra 'fa-eye-slash' (olho fechado) -->
          <i class="fas" [ngClass]="{'fa-eye-slash': showConfirmNewPasswordType === 'password', 'fa-eye': showConfirmNewPasswordType === 'text'}"></i>
        </button>
      </div>
      
      <button class="adicionar" type="submit">Salvar Nova Senha</button>

    </form>
  </div>
</div>