<a (click)="goBack()" class="back-arrow-link">
  <i class="fas fa-arrow-left"></i> Voltar
</a>

<div class="change-password-container">
  <h2>Alterar Credenciais</h2>
  
  <!-- Sistema de Mensagem -->
  <div *ngIf="message.text" class="alert" [ngClass]="{'alert-success': message.type === 'success', 'alert-error': message.type === 'error'}">
    {{ message.text }}
  </div>

  <div>
    <form (ngSubmit)="changeCredentials()">
      
      <!-- Senha Atual -->
      <div class="form-group form-group-password">
        <label for="oldPassword">Senha Atual *:</label>
        
        <!-- NOVO WRAPPER -->
        <div class="input-wrapper">
          <input [type]="showOldPasswordType" id="oldPassword" [(ngModel)]="credentials.oldPassword" name="oldPassword" required>
          <button type="button" class="password-toggle" (click)="toggleOldPasswordVisibility()">
            <i class="fas" [ngClass]="{'fa-eye-slash': showOldPasswordType === 'password', 'fa-eye': showOldPasswordType === 'text'}"></i>
          </button>
        </div>
        
        <small class="form-text text-muted">Necessária para confirmar qualquer alteração.</small>
      </div>
      
      <!-- Novo Nome de Usuário -->
      <div class="form-group">
        <label for="newUsername">Novo Nome de Usuário:</label>
        <input type="text" id="newUsername" [(ngModel)]="credentials.newUsername" name="newUsername">
        <small class="form-text text-muted">Opcional. Deixe em branco para não alterar.</small>
      </div>
      
      <!-- Nova Senha -->
      <div class="form-group form-group-password">
        <label for="newPassword">Nova Senha:</label>
        
        <!-- NOVO WRAPPER -->
        <div class="input-wrapper">
          <input [type]="showNewPasswordType" id="newPassword" [(ngModel)]="credentials.newPassword" name="newPassword">
          <button type="button" class="password-toggle" (click)="toggleNewPasswordVisibility()">
            <i class="fas" [ngClass]="{'fa-eye-slash': showNewPasswordType === 'password', 'fa-eye': showNewPasswordType === 'text'}"></i>
          </button>
        </div>
        
        <small class="form-text text-muted">Opcional. Deixe em branco para não alterar.</small>
      </div>

      <!-- Confirmar Nova Senha -->
      <div class="form-group form-group-password" *ngIf="credentials.newPassword">
        <label for="confirmNewPassword">Confirmar Nova Senha:</label>
        
        <!-- NOVO WRAPPER -->
        <div class="input-wrapper">
          <input [type]="showConfirmNewPasswordType" id="confirmNewPassword" [(ngModel)]="credentials.confirmNewPassword" name="confirmNewPassword" required>
          <button type="button" class="password-toggle" (click)="toggleConfirmNewPasswordVisibility()">
            <i class="fas" [ngClass]="{'fa-eye-slash': showConfirmNewPasswordType === 'password', 'fa-eye': showNewPasswordType === 'text'}"></i>
          </button>
        </div>
        <!-- Note que este não tem a tag <small>, e agora isso não é mais um problema -->
      </div>
      
      <button class="adicionar" type="submit">Salvar Alterações</button>
      
    </form>
  </div>
</div>