<a (click)="goBack()" class="back-arrow-link">
  <i class="fas fa-arrow-left"></i> Voltar
</a>

<div class="change-password-container">
  <h2>Alterar Senha</h2>
  <div>
    <form (ngSubmit)="changePassword()">
      
      <div class="form-group">
        <label for="oldPassword">Senha Antiga:</label>
        <input type="password" id="oldPassword" [(ngModel)]="passwords.oldPassword" name="oldPassword" required>
      </div>
      
      <div class="form-group">
        <label for="newPassword">Nova Senha:</label>
        <input type="password" id="newPassword" [(ngModel)]="passwords.newPassword" name="newPassword" required>
      </div>

      <div class="form-group">
        <label for="confirmNewPassword">Confirmar Nova Senha:</label>
        <input type="password" id="confirmNewPassword" [(ngModel)]="passwords.confirmNewPassword" name="confirmNewPassword" required>
      </div>
      
      <button class="adicionar" type="submit">Salvar Nova Senha</button>

    </form>
  </div>
</div>