.back-arrow-link {
  display: flex;
  align-items: center;
  
  /* Centraliza o link, alinhado à esquerda do box do formulário (400px) */
  max-width: 400px;
  
  /* Ajuste para dar um espaço em cima e alinhar melhor abaixo */
  margin: 2rem auto 0.5rem;
  
  padding: 0;
  
  font-weight: 500;
  color: #555;
  text-decoration: none;
  font-size: 0.9rem;
  gap: 5px;
}

.back-arrow-link:hover {
    color: #000; 
}
/* Container do formulário em si - Estilo card */
.form-wrapper {
    /* Centraliza o card do formulário */
    max-width: 400px; 
    margin: 1rem auto 4rem; 
    padding: 2.5rem;
    
    background-color: white; 
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

/* Estilo para o título */
h2 {
    text-align: center;
    margin-bottom: 2rem;
    max-width: 400px; /* Igual ao .form-wrapper e .back-arrow-link */
    margin: 0 auto 2rem; /* Centraliza horizontalmente e ajusta as margens */
    font-size: 1.8rem;
      color: #333; 
}

.form-group {
    display: flex;
    flex-direction: column; /* Coloca o label EM CIMA do input */
    gap: 5px;            /* Espaço pequeno entre o label e o input */
    
    flex: 1 1 300px;        
    min-width: 250px;      /* Largura mínima antes de quebrar a linha */
}

/* Estilo do Botão Adicionar/Atualizar */
.adicionar {
    width: 100%; /* O botão ocupa a largura total */
    padding: 12px;
    
    text-transform: uppercase;
    background-color: var(--secondary-color); /* Verde */
    color: white;
    
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
    transition: background-color 0.2s;
    margin-top: 1.5rem; /* Espaço antes do botão */
}

.adicionar:hover {
    background-color: var(--secondary-color);
}

/* Medias Query para telas menores */
@media (max-width: 600px) {
    .form-wrapper {
        padding: 1.5rem;
        margin: 1rem 15px 4rem 15px; /* Margem nas laterais para telas pequenas */
    }
    .back-arrow-link {
        padding: 0 15px; /* Ajusta o padding do link para telas pequenas */
    }
}

@media (max-width: 768px) {
      h2 {
    margin-top: 15px;
    line-height: 1.3;
  }

}