<h2>{{ isEdit ? 'Editar Prato' : 'Adicionar Prato' }}</h2>

<div class="form-wrapper">
  <form (ngSubmit)="saveDish()">

    <div class="form-container">
      
      <div class="form-group">
        <label for="name">Nome:</label>
        <input type="text" id="name" [(ngModel)]="dish.name" name="name" required>
      </div>

      <div class="form-group">
        <label for="description">Descrição:</label>
        <input type="text" id="description" [(ngModel)]="dish.description" name="description" required>
      </div>

      <div class="form-group">
        <label for="custo">Custo:</label>
        <input type="number" id="custo" [(ngModel)]="dish.custo" name="custo" required>
      </div>
      
      <div class="form-group">
        <label for="tempoReposicao">Tempo de Reposição (min):</label>
        <input type="number" id="tempoReposicao" [(ngModel)]="dish.tempoReposicao" name="tempoReposicao" required>
      </div>

    </div>

    <button class="adicionar" type="submit">{{ isEdit ? 'Atualizar' : 'Adicionar' }}</button>
  
  </form>
</div>