<div *ngIf="successMessage" class="toast-message success">
  {{ successMessage }}
</div>

<div *ngIf="errorMessage" class="toast-message error">
  {{ errorMessage }}
</div>

<div *ngIf="isLoading" class="container-loading">
  <p>Carregando itens... Por favor, aguarde.</p>
</div>

<div class="main-content" *ngIf="!isLoading">
  
  <h2 class="page-title">Gerenciamento de Itens</h2>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th style="width: 60px;">Imagem</th> 
          <th>ID</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Custo (R$)</th>
          <th>Tempo Reposição</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dish of dishes">
          <td>
             <img [src]="dish.imageUrl || 'assets/logo.png'" 
                  alt="Foto" 
                  style="width: 40px; height: 40px; object-fit: cover; border-radius: 4px; display: block; margin: 0 auto;">
          </td>
          
          <td>{{ dish.id }}</td>
          <td>{{ dish.name }}</td>
          <td>{{ dish.description }}</td>
          <td>R$ {{ dish.custo.toFixed(2) }}</td>
          <td>{{ dish.tempoReposicao || 0 }} min</td>
          <td>
            <div class="action-buttons-container" style="display: flex; gap: 8px;">
              <button class="delete" (click)="deleteDish(dish.id!)">Deletar</button>
              <a class="edit" [routerLink]="['/edit-item', dish.id]">Editar</a>
            </div>
          </td>
        </tr>
        
        <tr *ngIf="!dishes || dishes.length === 0" class="no-records-row">
            <td [attr.colspan]="7">Nenhum item encontrado.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <a class="newDish" routerLink="/add-item">NOVO ITEM</a>
</div>