.main-content {
  padding: 25px 0rem 0px 0rem !important;
}


@media (max-width: 768px) {
  .page-title {
    line-height: 1.3;
    margin-top: 20px; /* Ajusta a altura da linha para dar mais respiro */
    
  }
}